$outline: #c5c3c6;
$closeShadow: #6b9080;
$farShadow: #1985a1;

.container {
    max-width: 1000px; 
    margin: 3rem auto 1rem;
    .post_header,
    .post_author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    .author {
        font-weight: 900;
    }
    .content {
        text-align: justify;
        p + p {
            text-indent: 1rem;
        }
    }
}
