$background: #dcdcdd;
$backgroundDark: #000000;
$outline: #c5c3c6;
$outlineDark: #000000;
$text: #46494c;
$textLight: #b2b5b8;
$PrimaryTextDark: #a9b7c1;
$PrimaryText: #4c5c68;
$active: #1985a1;
$warningDark: #ef9f9f;
$validLight: #b2f0a1;
$closeShadow: #6b9080;
$farShadow: #1985a1;

.title{
    margin-top: 2rem;
    text-align: center;
}
.container {
    max-width: 800px;
    overflow: hidden;
    margin: 1rem auto;
    border: 1px solid $outline;
    border-radius: 10px;
    box-shadow: 1px 1px 0px $closeShadow, -1px 1px 2px $closeShadow, 1px -1px 2px $closeShadow,
        5px 5px 6px $farShadow, inset -1px -1px 5px #000000, inset 1px 1px 2px $outline;
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        background-color: $backgroundDark;
        input {
            display: block;
            width: 100%;
            padding: 0.5rem;
            color: $text;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        background-color: $backgroundDark;
        th {
            padding: 1rem;
            color: $PrimaryText;
            background-color: $background;
        }
        tr {
            color: $textLight;
            &:not(:last-child) {
                border-bottom: 1px solid $outline;
            }
        }
        td {
            padding: 1rem 0.2rem 0;
        }
        tbody tr:hover {
            color: $text;
            background-color: $background;
            .actions .btn {
                border: 1px outset rgb(255, 255, 255);
                &:active {
                    border: 1px inset rgb(255, 255, 255);
                }
            }
        }
    }
    .link {
        margin: 0.8rem;
    }
    .actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .btn {
            border: 1px solid transparent;
        }
    }
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.emptyBase {
    text-align: center;
}
.loading {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    .animation {
        position: absolute;
        top: 150px;
        left: 50%;
        width: 50px;
        height: 50px;
        transform: rotate(0deg);
        animation: loading 5s linear infinite reverse;
    }
    .loader {
        position: absolute;
        width: 50px;
        height: 5px;
        top: 0;
        left: 50%;
        border-radius: 5px;
        background-color: $PrimaryText;
        &::before {
            position: absolute;
            display: block;
            content: "";
            top: 50%;
            left: 50%;
            width: 5px;
            height: 50px;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            background-color: $PrimaryText;
        }
    }
    .loader--1 {
        animation: loading 1s linear infinite;
    }
    .loader--2 {
        animation: loading 1.3s linear infinite;
    }
}
