$background: #dcdcdd;
$backgroundDark: #222222;
$outline: #c5c3c6;
$outlineDark: #222222;
$text: #46494c;
$textLight: #b2b5b8;
$PrimaryTextDark: #a9b7c1;
$PrimaryText: #4c5c68;
$active: #1985a1;
$warningDark: #ef9f9f;
$validLight: #b2f0a1;
$closeShadow: #6b9080;
$farShadow: #1985a1;

.title{
    margin-top: 2rem;
    text-align: center;
}
.container { 
    overflow: hidden;
    margin: 2rem auto;
    padding: unset;
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        background-color: $backgroundDark;
        input {
            display: block;
            width: 100%;
            padding: 0.5rem;
            color: $text;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        background-color: $backgroundDark;
        th {
            padding: 1rem;
            color: $PrimaryText;
            background-color: $background;
        }
        tr {
            color: $textLight;
            &:not(:last-child) {
                border-bottom: 1px solid $outline;
            }
        }
        td {
            padding: 1rem 0.2rem 0;
        }
        tbody tr:hover {
            color: $text;
            background-color: $background;
            .actions .btn {
                border: 1px outset rgb(255, 255, 255);
                &:active {
                    border: 1px inset rgb(255, 255, 255);
                }
            }
        }
    }
    .link {
        margin: 0.8rem;
    }
    .actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .btn {
            border: 1px solid transparent;
        }
    }
}