$background: #dcdcdd;
$outline: #c5c3c6;
$text: #46494c;
$PrimaryText: #4c5c68;
$active: #1985a1;

.card {
    max-width: 800px;
    width: 90vw;
    margin: 1rem;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid $outline;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 2px 2px 10px black, inset -2px -2px 5px #000000;
    background-color: #fff;
    &:hover {
        box-shadow: inset 4px 4px 5px $active, inset -1px -1px 5px $active;
    }
    .card_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .date {
        font-size: 0.8rem;
    }
    .author {
        margin: 0.5rem 0;
    }
}
