$outline: #c5c3c6;
$closeShadow: #6b9080;
$farShadow: #1985a1;

.container {
    max-width: 1000px;
    margin: 3rem auto;  
    img {
        display: block;
        margin: 2rem auto;
        max-width: 90%;
        border-radius: 10px;
    }
    .actions {
        text-align: right;
        .link {
            text-transform: uppercase;
        }
    }
}
