<div
    *ngIf="open"
    class="modal"
    (click)="modalService.closeModal()"
>
    <div class="modal--container">
        <h3>Usunąć następujący wpis?</h3>
        <p>{{title}}</p>
        <div class="actions">
            <button
                class="btn btn--dark btn--yes"
                (click)="modalService.delete()"
            >
                Tak
            </button>
            <button
                class="btn btn--dark btn--no"
                (click)="modalService.closeModal()"
            >
                Nie
            </button>
        </div>
    </div>
</div>
