@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,900&display=swap");

$background: #dcdcdd;
$backgroundLight: #ffffff;
$backgroundDark: #222222;
$outline: #c5c3c6;
$outlineDark: #222222;
$text: #46494c;
$PrimaryText: #4c5c68;
$PrimaryTextLight: #a9b7c1;
$active: #1985a1;
$closeShadow: #6b9080;
$farShadow: #1985a1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
    ::selection {
        color: $background;
        background-color: $active;
    }
}
body {
    min-height: 100vh;
    background: #9ad5ec;
    // background: linear-gradient(-315deg, rgba(254, 208, 133, 1) 0%, rgba(253, 176, 53, 1) 100%);
    // background: radial-gradient(circle, #a4c3b2 90%, #6b9080 100%);
}

//Global buttons and links
.btn {
    position: relative;
    overflow: hidden;
    margin: 0.25rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: transparent;
    color: $active;
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;
    &:disabled {
        background-color: #808080;
        color: $text;
        &::before,
        &::after {
            display: none;
        }
        &:active {
            border: 1px solid $outline;
            box-shadow: none;
        }
    }
}

.btn--light {
    border: 1px solid $outline;
    background-color: transparent;
    &::after {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $background;
        z-index: -1;
        transition: 0.25s;
    }
    &:hover {
        &::after {
            top: 0;
        }
    }
    &:active {
        border: 1px solid $active;
        box-shadow: 0 0 5px $active;
    }
}
.btn--dark {
    border: 1px solid $outline;
    &::before,
    &::after {
        position: absolute;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        background-color: $backgroundLight;
        z-index: -1;
        transition: 0.3s;
    }
    &::before {
        top: 100%;
        left: 100%;
    }
    &::after {
        bottom: 100%;
        right: 100%;
    }
    &:hover {
        &::before {
            top: 0;
            left: 0;
        }
        &::after {
            bottom: 0;
            right: 0;
        }
    }
    &:active {
        border: 1px solid $backgroundLight;
        box-shadow: 0 0 10px $backgroundLight;
    }
}
.link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: $active;
    text-decoration: none;
    cursor: pointer;
    &::after,
    &::before {
        display: block;
        position: absolute;
        bottom: 0;
        content: "";
        height: 1px;
        width: 50%;
        background-color: $active;
        transition: 0.5s;
    }
    &::after {
        left: -50%;
    }
    &::before {
        right: -50%;
    }
    &:hover {
        &::after {
            left: 0;
        }
        &::before {
            right: 0;
        }
    }
}
.link--active {
    a {
        &::after {
            left: 0;
        }
        &::before {
            right: 0;
        }
    }
}

// Global fonts
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $PrimaryText;
}
p {
    font-size: 1rem;
    color: $text;
}

// Global navigation
.layout_nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid $outline;
    background-color: $background;
    z-index: 2;
    .app_title {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50%;
        color: $PrimaryText;
        text-align: center;
    }
    .nav {
        position: relative;
        height: 100%;
        z-index: 2;
    }
    ul {
        display: inline-block;
        text-align: right;
        list-style: none;
        li {
            display: inline-flex;
            align-items: center;
            margin: 0.5rem;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }
}
@media (min-width: 992px) {
    .layout_nav .nav .bars {
        display: none;
    }
}
@media (max-width: 991px) {
    .layout_nav {
        .app_title {
            justify-content: right;
        }

        .bars {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            cursor: pointer;
            .bar {
                height: 0.25rem;
                margin: 0.2rem 0;
                background-color: $active;
                transition: 0.5s ease-in-out;
            }
            .bar--top {
                width: 3rem;
            }
            .bar--mid {
                width: 2rem;
            }
            .bar--bot {
                width: 1rem;
            }
            .bar--active {
                width: 2rem;
            }
        }
        .list {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            top: -100%;
            left: 0;
            background-color: $background;
            z-index: -1;
            transition: 0.8s ease-in top;
            li {
                margin: 2rem auto;
                opacity: 0;
                transition: 1s 0.8s linear;
            }
        }
        .list--active {
            top: 0;
            li {
                opacity: 1;
            }
        }
    }
}
@media (min-width: 1200px) {
    .layout_nav {
        justify-content: center;
    }
}

// Global container
.container {
    max-width: 800px;
    width: 90vw;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 0px $closeShadow, -1px 1px 2px $closeShadow, 1px -1px 2px $closeShadow, 5px 5px 6px $farShadow,
        inset -1px -1px 5px #000000, inset 1px 1px 2px $outline;
    background-color: $backgroundLight;
}

//Loader
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.emptyBase {
    text-align: center;
}
.loading {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    .animation {
        position: absolute;
        top: 150px;
        left: 50%;
        width: 50px;
        height: 50px;
        transform: rotate(0deg);
        animation: loading 5s linear infinite reverse;
    }
    .loader {
        position: absolute;
        width: 50px;
        height: 5px;
        top: 0;
        left: 50%;
        border-radius: 5px;
        background-color: $PrimaryText;
        &::before {
            position: absolute;
            display: block;
            content: "";
            top: 50%;
            left: 50%;
            width: 5px;
            height: 50px;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            background-color: $PrimaryText;
        }
    }
    .loader--1 {
        animation: loading 1s linear infinite;
    }
    .loader--2 {
        animation: loading 1.3s linear infinite;
    }
}

// new post - ngx-quil style in /admin/create
.ql-editor.ql-blank,
.ql-editor {
    min-height: 300px;
}
.ql-toolbar.ql-snow {
    background-color: #dcdcdd;
}
.ql-container.ql-snow {
    background-color: #fff;
}
.ql-editor p,
.ql-editor.ql-blank::before {
    color: #000000;
}
.ql-toolbar .ql-formats button:hover,
.ql-toolbar .ql-formats .ql-picker-label:hover,
.ql-formats .ql-size.ql-picker.ql-expanded .ql-picker-label .ql-picker-item:hover,
.ql-toolbar .ql-formats .ql-picker-item.ql-selected,
.ql-toolbar .ql-formats button.ql-active {
    color: $active;
}
