$background: #000;
$outline: #c5c3c6;
$text: #46494c;
$PrimaryTextLight: #a9b7c1;
$active: #1985a1;

.layout_nav {
    background-color: $background;
    .app_title {
        color: $PrimaryTextLight;
    }
}
