$backgroundDark: #222222;
$PrimaryTextLight: #a9b7c1;

.layout_nav {
    background-color: $backgroundDark;
    .app_title {
        color: $PrimaryTextLight;
    }
}
@media (min-width: 992px) {
    .layout_nav .nav .bars {
        display: none;
    }
}
@media (max-width: 991px) {
    .layout_nav {
        .list {
            background-color: $backgroundDark;
        }
    }
}